body{
 background-color:maroon;
    font-size:16px;
   
}
#h1{
    
}
.navbar{
    background-color:orange;
    border-radius: 0;
    border: none;
  
}
#website-logo{
    background-image: url(screenshots/logo.jpg);
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    margin: 10px;
     
}
h1{
    font-size: 1.5em;
   font-family: 'Pacifico', cursive;
    color: maroon;
    margin-top: 20px;
    margin-bottom: 10px;
    text-shadow: 4px 4px 2px gray;
    text-transform: uppercase;
}
#star{
    color: white;
    vertical-align: middle;
    
}
.navbar-brand a:hover , .navbar-brand a:focus{
    text-decoration: none;
}
#verfied{
    vertical-align: middle;
    font-size: .8em;
    
}

#telephone{
    color:white;
    font-size:20px;
}
#telephone:hover{
    color:green
}
#phone{
    text-align: right;  
}
#nav-list{
    margin-top: 10px;
    
}
#nav-list a {
    color: maroon;
    text-align: center;
}
#nav-list a:hover{
    color:white;
}
#we-deliver{
    color:black;
}
.icon-bar,.navbar-header button.navbar-toggle{
    border:1px solid maroon;
}
.navbar-toggle{
    clear: both;
    margin-top: -30px;
} 
#telephone-for-xs{
    
    text-align: center;
   
    
}
header .container{
    padding-right: 0px;
    padding-left: 0px;
}
#telephone-for-xs a {
    color: maroon;
    background-color: orange;
    font-size: 3.7vw;
    padding: 10px;
    width: 80vw;
    border: 2px solid white;
    
}
header .container .navbar-header{
        margin-right:0px;
         margin-left: 0px;
    }
   
#telephone-for-xs  a:hover {
  color:green;
}
#telephone-for-xs span{
   padding-right: 10px;
}
#we-deliver-for-xs{
    text-align: right;
    width:80vw;
    margin: auto;
    padding-right: 7px;
    color: white;
    font-size: 2vw;
    font-family: 'Indie Flower', cursive; 
}
#map-tile , #special-tile , #menu-tile {
    height:250px;
    width: 100%;
    margin-bottom: 15px;
    position: relative;
    border: 1px solid maroon;
    overflow: hidden; /* should be hidden for iframe*/
    
    
}
#map-tile:hover , #special-tile:hover , #menu-tile:hover {
    box-shadow: 2px 2px 25px gray;
}
#menu-tile { 
    background:url("screenshots/menu12.jpg") no-repeat;
    background-position: center;
    background-size:cover;
    
        
}

#special-tile {
    background:url("screenshots/burger-sandwitch.jpg") no-repeat;
    background-position: center;
    background-size:cover;
}
#home-tiles span { 
    background-color: black;
    color: white;
    width: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    text-align: center;
    opacity: .7;
    font-size: 1.5em;
    

}
.panel-footer{
    
    margin-top: 30px;
    padding-top: 34px;
    padding-bottom: 30px;
    background-color: #BF4D00;
    border: none;
}
footer{
    color: burlywood;
}
#hours , #address { 
line-height: 2;
}
#hours span , #address span{
    font-size: 1.3em;
    
}
#customer-opnions{
   color:wheat;
    line-height: 1.4;
    font-style:italic;
    padding-top: 20px;
    
    
}
#address p { 
font-size: .7em;
    
}
#copyright{
    
margin: 30px 0 0 0;    
}


/*  for large screens -desktop */
@media (min-width:1200px){
    .container .jumbotron {
        background: url(screenshots/jumberton/inside.jpg) no-repeat;
        height: 660px;
        background-position: center;
        background-size: cover;
        box-shadow: 0 0 50px orange;
        
    }
    
}
/*  for medium screens -desktop  */
@media (min-width:992px)and (max-width:1199px){
     .container .jumbotron {
        background: url(screenshots/jumberton/inside-%20l1.jpg) no-repeat;
        height: 650px;/*temp value this should be fixed*/
        background-position: center;
        background-size: cover;
        box-shadow: 0 0 50px orange;
        
    }
    
}
/*  for medium screens  -tablet*/
@media(min-width:768px)and (max-width:991px){
     .container .jumbotron {
        background: url(screenshots/jumberton/inside.jpg) no-repeat;
        height: 600px;
        background-position: center;
        background-size: cover;
        box-shadow: 0 0 50px orange;
        
    }
    .navbar-brand{
        position: relative;
        bottom: 20px;
        
      
    }
   
    
    
    
}
/*  for extra small screens  -phone*/
@media (min-width:601px)and (max-width:767px){
    .navbar-brand{
        position: relative;
        bottom: 15px;
        height: 80px;
        margin-left: 30px;
        
      
    }
    .navbar-brand h1{
        font-size: 5vw;
    }
    header .container .navbar-header{
        margin-right:0px;
         margin-left: 0px;
    }
   
    .navbar-toggle{
        position:relative   ;
        top:-25px;
        
     
    }
    #collapsable-nav span{
        margin-right: 5px;
        font-size: 1em;
    }
    #award{
        margin-left: 10px;
        padding-right: -200px;
    }
    
    
     .container .jumbotron {
         box-shadow: 0 0 50px orange;
         padding: 0px;
        
    }
    #menu-tile , #special-tile , #map-tile {
       width:400px;
        margin: auto;
        margin-bottom: 15px;
        
    }
    footer  section {
        text-align: center;
        
}
   
    
  .navbar{
        overflow: hidden;
       
    }
    
    
    
}
/*  for extremly small screens  -small phones*/
@media (max-width:600px){
    
    .navbar-brand{
        position: relative;
        bottom: 15px;
        height: 65px;
        margin-left: 20px;
        
    }
     .navbar-brand h1{
        font-size: 5vw;
    }
     header .container .navbar-header{
        margin-right:0px;
         margin-left: 0px;
    }
      .navbar-toggle{
        position:relative;
        top:-13px;
        
          
       
    
    }
     .container .jumbotron {
       box-shadow: 0 0 50px orange;
        padding: 0px;
        
    }
      #menu-tile , #special-tile , #map-tile {
       width:250px;
        margin: auto;
        margin-bottom: 15px;
        
    }
     footer  section {
        text-align: center;
        
}
    .navbar{
        overflow: hidden;
       
    }
    

      
}
